* {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}

.dropdown-container {
  text-align: left;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 10px;
  width: 254px;
}

.dropdown-input {
  padding: 5px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.dropdown-menu {
  position: fixed;
  width: 254px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  top: 33.5%;
  left: 10%;
}

.dropdown-item {
  padding: 5px 20px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #9fc3f870;
}

.dropdown-item.selected {
  background-color: #0d6efd;
  color: #fff;
}
