@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  background: #fff5e9;
  position: relative;
  font-family: "Inter", sans-serif;
}

.topnav_home {
  overflow: hidden;
  background: linear-gradient(135deg, #fdd819 0%, #e80505 100%);
}

.topnav_home a {
  float: left;
  color: black;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 20px;
}

.topnav-right {
  float: right;
}

.login_button_home {
  background: black;
  border-radius: 10px;
  color: white;
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px 40px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.app {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.menu {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 15px;
}

.about {
  position: absolute;
  width: 1085px;
  height: 325px;
  margin-top: 400px;
  margin-left: 20px;
  background: linear-gradient(135deg, #fdd819 0%, #e80505 100%);
  border-radius: 50px 50px 100px 50px;
  z-index: -1;
}

.title {
  font-weight: 700;
  font-size: 28px;
  padding-left: 60px;
  font-family: "Poppins", sans-serif;
}

.description {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  padding-left: 60px;
}

.container {
  display: flex;
  align-items: center;
}

.gambar {
  position: absolute;
  top: 225%;
  left: 60%;
}

.get_button {
  background: black;
  border-radius: 50px;
  color: white;
  margin-top: 10px;
  margin-right: 10px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  padding: 10px 20px;
  margin-left: 60px;
}

.bot_nav_home {
  overflow: hidden;
  background-color: #8a8a8a;
  position: fixed;
  text-align: center;
  bottom: 0;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 10px;
  padding: 5px 0px;
}
