body {
  background-color: #FFF5E9;
  position: relative;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.topnavMain {
  overflow: hidden;
  background-color: #CD6B10;
}

.topnavMain a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 18px;
}

.topnavMain a:hover {
  background-color: orange;
  color: white;
}

.topnav-rightMain {
  float: right;
}

#logo {
  height: 30px;
  width: 50px;
}

.mainLogin {
  width: 400px;
  height: 376px;
  position: absolute;
  top: 30%;
  left: 50%;
  margin: 110px 0 0 -200px;
  background: #F95900;
  border-radius: 35px;
}

.efekLogin {
  width: 400px;
  height: 370px;
  position: absolute;
  top: -30%;
  left: 48%;
  margin: 110px 0 0 -200px;
  background: white;
  border-radius: 35px;
  z-index: 2;
  text-align: center;
}

h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
}

p {
  font-size: 14px;
}

input {
  padding: 10px 45px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #EDF2F7;
  border: none;
}

label {
  position: relative;
}

label[id=emailLogin]:before {
  content: "";
  position: absolute;
  left: 15px;
  top: 2px;
  bottom: 0;
  width: 17px;
  height: 14.25px;
  background: url("./resource/email_icon_png.png");
}

label[id=passwordLogin]:before {
  content: "";
  position: absolute;
  right:224px;
  top: 45px;
  width: 17px;
  height: 19px;
  background: url("./resource/gembok_icon.svg");
}

label[id=emailLogin] {
  top: 10px;
}

label[id=passwordLogin] {
  top: 25px;
}

#forgotLogin {
  position: absolute;
  top: 234px;
  left: 82px;
  font-weight: 600;
  font-size: 12px;
  text-decoration: none;
  color: black;
}

#forgotLogin:hover {
  text-decoration: underline;
}

.loginButton {
  color: white;
  border: none;
  border-radius: 30px;
  padding-right: 23px; 
  display: inline-block;
  font-size: 16px;
  background-color: #FF7D1F;
  margin: 60px 2px;
  width: 150px;
  cursor: pointer;
  background-image: url("./resource/right_arrow_icon.svg");
  background-repeat: no-repeat;
  background-position: 18px 10px;
}

.loginButtonLoading {
  color: white;
  border: none;
  border-radius: 30px;
  padding-right: 23px; 
  display: inline-block;
  font-size: 16px;
  background-color: #fdbd8f;
  margin: 60px 2px;
  width: 150px;
  background-image: url("./resource/right_arrow_icon.svg");
  background-repeat: no-repeat;
  background-position: 18px 10px;
}

.loginButton:hover {
  background-color: #e8690f;
}

.copyrightLogin {
  font-size: x-small;
  font-weight: 600;
}

i {
  position: absolute;
  top: 70%;
  right: 20px;
}

i:hover {
  color: #e8690f;
  cursor: pointer;
}