.mainPopup {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 70px;
  z-index: 10;
}
.popup {
  height: 460px;
  width: 40%;
  background-color: white;
  position: absolute;
  top: 25%;
  right: 25%;
  border-radius: 10px;
  filter: blur(0px);
}
.popup-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  width: 50%;
  margin-top: 5%;
  margin-left: 10%;
  font-size: 24px;
}

#addItems {
  position: absolute;
  top: 88px;
  right: 13%;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  background: #f27500;
  border-radius: 10px;
  padding: 6px 25px;
  border-color: #f27500;
}

#saveButton {
  margin-left: 30%;
}

#cancelButton {
  margin-left: 20px;
}

#cancelButton, #saveButton {
  background-color: #F27500;
  border-color: #F27500;
  border-radius: 10px;
  padding: 7px;
  margin-top: 14px;
}

.popup-body {
  margin-left: 10%;
  font-size: 18px;
}

#type_border, #noteName, #message {
  border-radius: 10px;
}

#message {
  width:400px; 
  height:90px;
  resize: none;
  padding: 7px;
}